{% extends 'base.html' %}

{% block content %}

<div class="container u-full-width" style="margin-top:20px">
    {% if user.is_authenticated %}
    <h3>Records</h3>
    <div class="row">
        <div class="two columns offset-by-ten columns">
            <a class="button" style="background: #32cd32; color:#eee" href="{% url 'add_record' %}">Add New Record</a>
        </div>
    </div>
    <div class="row">
        <div class="ten columns" >
            <table class="u-full-width" style="color: #eee; ">
                {%if records %}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Address</th>
                        <th>ZipCode</th>
                    </tr>
                </thead>
                <tbody style="max-height: 500px; overflow-y: auto;">
                    {%for record in records%}
                    <tr style="cursor: pointer;" onclick=window.location.href="{% url 'record' record.id %}">
                        <td>{{record.id}}</td>
                        <td>{{record.first_name}}</td>
                        <td>{{ record.last_name }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phone }}</td>
                        <td>{{ record.city }}</td>
                        <td>{{ record.state }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.zipcode }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {%else%}
                <p>No Records Found</p>
                {%endif%}
            </table>
        </div>
    </div>
    {% else%}
    <br>
    <div class="row">
        <div class="seven columns offset-by-three columns">
            <h3 style="color: inherit; text-align:center;">Login</h3>
            <form method="POST" action="{% url 'home' %}" style="margin: 10px;">
                {% csrf_token %}
                <div class="row" style="padding:5px;">
                    <div class="six columns">
                        <input style="color: #000;" class="u-full-width" type="text" placeholder="Username"
                            id="username" name="username" required>
                    </div>
                    <div class="six columns">
                        <input style="color: #000;" class="u-full-width" type="password" placeholder="Password"
                            id="password" name="password" required>
                    </div>
                </div>
                <div class="row" style="padding: 5px;">
                    <input class="u-full-width button-primary" style="margin: auto;" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}