{% extends 'base.html' %}

{% block content %}

<div class="container u-full-width" style="margin-top:20px">
    {% if user.is_authenticated %}
    <p>Hello World</p>
    {% else%}
    <br>
    <div class="row">
        <div class="seven columns offset-by-three columns">
            <h3 style="color: inherit; text-align:center;">Login</h3>
            <form method="POST" action="{% url 'home' %}" style="margin: 10px;">
                {% csrf_token %}
                <div class="row" style="padding:5px;">
                    <div class="six columns">
                        <input style="color: #000;" class="u-full-width" type="text" placeholder="Username"
                            id="username" name="username" required>
                    </div>
                    <div class="six columns">
                        <input style="color: #000;" class="u-full-width" type="password" placeholder="Password"
                            id="password" name="password" required>
                    </div>
                </div>
                <div class="row" style="padding: 5px;">
                    <input class="u-full-width button-primary" style="margin: auto;" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}